/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');*/

@import "tailwindcss";
@tailwind utilities;

* {
    font-family: 'SN Pro', system-ui, sans-serif;
}

#root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    overflow-x: hidden;
}